*{
    margin: 0;
    padding: 0;
}
.friends-div{
    margin-top: 10px;
    align-items: left;
}

.friends-table{
    margin-top: 10px;
    position: relative;
    left: 20%;
    top: 10%;

    width: 60%;
}
.redCol{
    color: red;
}
.greenCol{
    color: green;
}
.grayCol{
    color: gray;
}